body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #002b5c;
    color: white;
    padding: 25px;
    text-align: center;
}

nav {
    background-color: #00509e;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
    background: white;
    margin-top: 20px;
    border-radius: 5px;
}

footer {
    background-color: #002b5c;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
